*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* width: 100%; */
}
html,body{
    overflow-x: hidden;
}
#quick-contact{
    height: 40px;
    background-color: #00796b;
    font-size: 13px;
}
.quick-left a i{
    padding-right: 4px;
    padding-left: 7px;
}
.quick-left a {
    text-decoration: none;
    color: #fff;
}
.quick-right a{
    text-decoration: none;
    color: rgb(184, 184, 184);
    padding-left: 10px;
}
#header{
    height: 90px;
   background-color: #008374;
   line-height: 90px;
}
.head-left h2{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    font-family:"Open Sans",sans-serif;
    letter-spacing: 3px;
}
.head-right ul li a{
    text-decoration: none;
    color: rgb(184, 184, 184);
}
.head-right ul li{
    list-style: none;
    
    padding-left: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 16px; */
}

